.home-title-text{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}
.home-col{
    text-align: center;
    font-size: 14px;
    background-color:#e5e9f2;
    display: inline-block;
    line-height: 40px;
    border-radius: 7px;
}
.home-col span{
    font-size: 30px;
    margin-right: 5px;
    display: inline-block;
}
.home-title{
    margin-bottom: 80px;
}
.home-row{
    margin-bottom: 20px;
}
.home-yellow{
    background-color: #ff9800;
    color: #fff;
    font-size: 22px;
}
.home-blue{
    background-color: #20a0ff;
    color: #fff;
    font-size: 22px;
}
